.formulario {
    background-color: var(--fundo-formulario);
    border-radius: .5em;

    width: 40%;

    padding: 2em;

    margin: 0 auto;
}

.formulario__label{
    font-size: 1.3em;
    font-weight: 500;

    display: block;
    margin-bottom: .5em;
}

.formulario__input, .formulario__select, .formulario__textarea {
    border-radius: .5em;
    
    width: 100%;

    padding: 1em 0;

    margin-bottom: 2em;
}

.formulario__input::placeholder, .formulario__select, .formulario__textarea::placeholder {
    font-size: 16px;
    font-family: var(--fonte);
    font-weight: 500;
    color: var(--cinza);
}

.formulario__select {
    padding-left: 0.2em;
}

.formulario__radios {
    margin-bottom: 1em;
}

.formulario__label--radio {
    font-size: 1.1em;
}

.formulario__textarea::placeholder {
    padding-left: .6em;
}

.formulario__label--check {
    display: inline-block;
    font-size: 1.1em;
}

.formulario__botao {
    background-color: var(--verde-padrao);
    border-radius: .5em;
    color: var(--branco);

    width: 100%;

    padding: 1em 0;
    margin-top: 1em;

    font-family: var(--fonte);
    font-size: 16px;
    font-weight: 500;
}